body{
    font-family: 'Baloo Bhaina 2', cursive;
    background: url('background.jpg');
}
html{
    font-size: 100%;
}
h1{
    text-align: center;
    color: blue;
    border: 2px solid blue;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    font-size: 5rem;
    
}
.physics{
    margin-top: 16rem;
}
.physics li a{
    text-align: center;
    color: blue;
    
    
}
.physics li.link a{
   
    border: .125rem solid blue;
   border-radius: 30%;
   font-size: 3rem; 


    
}
.link{
  text-align: center;
 padding: .2rem;
 margin-top: 8rem;
 
} 
@media(max-width:998px){
    html{
        font-size:55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
@media(max-width:558px){
    html{
        font-size: 35%;
    }
}
@media(max-width:358px){
    html{
        font-size: 25%;
    }
}
@media(max-width:258px){
    html{
        font-size: 15%;
    }
}
@media(max-width:158px){
    html{
        font-size: 10%;
    }
}
@media(max-width:100px){
    html{
        font-size: 7%;
    }
}
@media(max-width:75px){
    html{
        font-size: 5%;
    }
}